 html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
} 

.gridContainer {
  min-height: 100vh;
  height: auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 50px auto;

  gap: 5px;

  margin-bottom: 30px;
}

#zonaLogo {
  grid-column: 2 / 4;
  grid-row: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

#zonaLogo img {
  max-height: 200px;
  height: 200px;
}

#zonaTitulo {
  grid-column: 5 / 9;
  grid-row: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

#zonaTitulo h1 {
  text-align: center;
  font-size: 72px;
  margin: 0;
}

#zonaNavegacion {
  grid-column: 1 / 13;
  grid-row: 2;

  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 3px;

}

#zonaNavegacion div {
    color: rgb(0, 0, 0);
    width: 100px;
    text-align: center;
    border-radius: 5px;

    transition: all 0.1s linear;
}

#zonaNavegacion div:hover {
    box-shadow: 0px 0px 2px 2px rgba(255,255,255,1);
}


/*ESTILOS PARA LA ZONA DE CONTENIDO DE LA PÁGINA*/

#zonaContenido {
  grid-column: 3/11;
  grid-row: 3;
  background-image: url(images/_e5d20e03-7843-43e1-a641-88218ae05ea4.jpg) ;
  background-size: cover; /* La imagen se ajustará para cubrir todo el área del contenedor */
  background-repeat: no-repeat;
}

/*ESTILOS PARA LA ZONA DE CONTENIDO DE LA PÁGINA CONTACTO CONCRETAMENTE*/
.zonaContenidoContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*ESTILOS PARA LA CAJA CONTENEDORA DE LOS CAMPOS DEL FORMULARIO*/
.divFormulario {
  width: 50%;
  min-height: 70%;
  height: auto;
  padding: 20px;

  border: 2px solid rgb(50, 50, 50);
  border-radius: 10px;

  background-color: rgb(119, 124, 167);
}

/*ESTILOS PARA LOS LABEL DEL FORMULARIO*/

.divFormulario label {
  font-size: 20px;
  padding-left: 10px;
}

/*ESTILOS PARA LOS INPUT DEL FORMULARIO*/

.inputDiv {
  width: 100%;
  height: 50px;

  margin: 0 0 30px 0;
}

.inputDiv input {
  width: 100%;
  height: 100%;
  margin-top: 3px;

  padding-left: 20px;

  border: 2px solid black;
  border-radius: 20px;
  outline: none;

  background-color: rgb(223, 223, 223);
}

.inputDiv input::placeholder {
  color: rgb(37, 37, 37);
}

.inputDiv input:focus {
  border: 3px solid rgb(39, 39, 39);
}

/* ESTILOS PARA EL TEXTAREA DEL FORMULARIO*/
.inputTextArea {
  width: 100%;
  height: 100px;

  margin: 0 0 30px 0;
}

.inputTextArea textarea {
  width: 100%;
  height: 100%;
  margin-top: 3px;

  padding-left: 20px;

  border: 2px solid black;
  border-radius: 20px;
  outline: none;

  background-color: rgb(223, 223, 223);
}

.inputTextArea textarea::placeholder {
  color: rgb(37, 37, 37);
}

.inputTextArea textarea:focus {
  border: 3px solid rgb(39, 39, 39);
}

/*ESTILOS PARA LOS BOTONES*/
.inputBotones {
  padding-top: 20px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputBotones button {
  width: 100px;
  height: 40px;

  outline: none;
  border-radius: 5px;

  font-size: 1.1em;

  transition: 0.1s ease-out;
}

.inputBotones button:nth-child(1) {
  border: 2px solid green;
}

.inputBotones button:nth-child(2) {
  border: 2px solid orangered;
}

.inputBotones button:hover {
  font-size: 1em;
  cursor: pointer;
  transform: scale(1.1);
}

